#red-case {
    background-color: red;
    border-radius: .5%;
    margin: auto;
    max-width: 98%;
    height: 50em;
}

#case-header-container {
    display: flex;
    color: gold;
    margin: 0 auto;
    width: 50%;
    height: 10%;
}

#case-header-container > h1 {
    padding-top: 20px;
    margin: 0 auto;
}

#case-title-left {
}

#case-title {
}

#case-title-right {
}

#screen {
    margin: auto;
    width: 90%;
    height: 80%;
}
canvas {
    border: 1px solid grey;
    border-radius: 2%;
    background-color: white;
    width: 100%;
    height: 100%;
  }